body {
    background-color: #ffc4e3;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    color: #b11465;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #7a566eda;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch:extra-expanded;
    color: #750c43;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #272727;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fad4e8;
    border-radius: 5%;
    width: 95%;
    margin-bottom: 15px;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eb59a577;
    border-radius: 5%;
    width: 95%;
    margin-bottom: 15px;
}

.fondo {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    background-color: #eb59a5cb;
    margin-bottom: 15px;
}


.postre {
    display: flex;
    width: 95%;
    flex-direction: column;
    border-radius: 5%;
    background-color: #eb59a4;
    align-items: center;
    margin-bottom: 15px;
}

.foto a {
    display: flex;

    flex-direction: column;
    align-items: center;
}

img {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

@media only screen and (min-width: 600px) {
    .info {
        width: 60%;
    }
    .entrada {
        width: 60%;
    }
    .fondo {
        width: 60%;
    }
    .postre {
        width: 60%;
    }
    img {
        width: 60%;
    }
  }

  @media only screen and (min-width: 900px) {
    .info {
        width: 40%;
    }
    .entrada {
        width: 40%;
    }
    .fondo {
        width: 40%;
    }
    .postre {
        width: 40%;
    }
    img {
        width: 40%;
    }
  }


